annotated-types
anyio
certifi
charset-normalizer
click
colorama
comtypes
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
numpy
opencv-python
orjson
pip
PyAudio
pydantic
pydantic_core
Pygments
pypiwin32
python-dotenv
python-multipart
pyttsx3
pywin32
PyYAML
requests
rich
setuptools
shellingham
sniffio
SpeechRecognition
starlette
typer
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets
wheel
