annotated-types
anyio
certifi
click
colorama
dnspython
email_validator
fastapi
fastapi-cli
h11
httpcore
httptools
httpx
idna
Jinja2
markdown-it-py
MarkupSafe
mdurl
numpy
opencv-python
orjson
pip
pydantic
pydantic_core
Pygments
python-dotenv
python-multipart
PyYAML
rich
setuptools
shellingham
sniffio
starlette
typer
typing_extensions
ujson
uvicorn
watchfiles
websockets
wheel
       